{% extends 'layout.html' %} {% block content %}
<div class="container">
  <h1>About {{name}}</h1>
  <p>
    This project started as an exercise inspired by Day 29 of the 30 Days of Python challenge, but quickly became something more, my first look at what full-stack development may look like.
  </p>
  <p>
    I chose FastAPI over Flask to work with a modern, fast framework that’s widely used in today’s Python ecosystem. It was my first time building a web backend, and I wanted to learn something powerful and future-focused.
  </p>
  <p>
    This was also my first time writing HTML and CSS. I didn’t know much about styling, forms, or layout but I learned by doing. Every button, color, and responsive fix was a new skill picked up along the way.
  </p>
  <p>
    Building this app helped me practice Python, understand how frontends and backends work together, and gain confidence in solving problems.
  </p>
  <br>
  <p>
    It’s not perfect, but it’s mine.
  </p>
</div>
{% endblock %}
