{% extends 'layout.html' %} {% block content %}
<div class="container">
  <h1>Welcome to {{name}}</h1>
  <p>
    This application analyzes text. It counts characters, words, sentences and identifies the most frequent word. Try it by clicking <strong>Text Analyzer</strong> in the header.<br>
    
    It also lets you add and view student records through a clean web interface, with data available via a JSON API.<br><br>
    The following technologies were used to build this web application:
  </p>


  <div class="tech-sections">
    {% set ns = namespace(front_num=1, back_num=2) %}

    {% for section, items in techs.items() %}
      <div class="tech-section">
        <!-- Section title -->
         <h3><strong>{{ loop.index }}. {{ section }}</strong></h3>
         <ul class="tech.lists">
          {% for tech in items %}
            <li class ="tech">{{ tech }}</li>
          {% endfor %}
         </ul>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
