<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400|Nunito:300,400|Raleway:300,400,500&display=swap"
      rel="stylesheet"
    />
    <!-- With FastAPI templates we can pass a static URL manually -->
    <link
      rel="stylesheet" href="/static/css/main.css"
    />
    {% if title %}
    <title>Text & Student API - {{ title}}</title>
    {% else %}
    <title>Text & Student API</title>
    {% endif %}
  </head>

  <body>
    <header>
      <div class="menu-container">
        <div>
          <a class="brand-name nav-link" href="/">Text&StudentAPI</a>
        </div>
        <!-- Replace Flask's url_for() with the actual path strings (/, /about, /post) -->
        <ul class="nav-lists">
          <li class="nav-list"><a class="nav-link active" href="/">Home</a></li>
          <li class="nav-list"><a class="nav-link active" href="/about">About</a></li>
          <li class="nav-list"><a class="nav-link active" href="/post">Text Analyzer</a></li>
          <li class="nav-list"><a class="nav-link active" href="/students">Add Student</a></li>
          <li class="nav-link"><a class="nav-link active" href="/students/list">Students</a></li>
          <!-- target="_blank" tells the browser to open in new tab-->
          <li class="nav-list"><a class="nav-link active" href="/api/students" target="_blank" rel="noopener">API</a></li>
        </ul>
      </div>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>